@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  color-scheme: light;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f7f6f2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
